<!DOCTYPE html>
<html>
  <head>


    <title>Gadget</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/core.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  </head>

  <body>

  <% if current_user  %>
    <%= render partial: 'shared/logged_in_navbar' %>
  <% else %>
    <%= render partial: 'shared/logged_out_navbar' %>
  <% end %>

    <%= yield %>
  </body>
</html>
